@font-face {
  font-family: 'thirsty-script';
  src: url('../fonts/ts.woff') format('woff');
}

html, body {
  margin: 0;
  padding: 0;
}

.u-textAlignCenter {
	text-align: center;
}

.u-centerBlock {
	margin: 0 auto;
}

.u-transformUpsideDown {
	transform: rotate(180deg);
}

.thirstyFont {
	font-family: 'thirsty-script', serif;
	color: #d05a30;
	font-size: 64px;
}

.detailsText {
  font-family: 'thirsty-script', serif;
  color: #d05a30;
  font-size: 24px;
}

.mapContainer {
  border-radius: 5px;
  overflow: hidden;
  position:relative;
  height: 300px;
  max-width: 500px;
  margin: 0 auto;
}

.formContainer {
  max-width: 500px;
}

.mapFrame {
  width: 100%;
}

.containerBox {
  margin: 40px auto;
}

#errContainer {
  font-size: 20px;
  color: red;
  margin: 20px;
}

.mainContainerBox {
  margin: 0 auto;
  padding: 0 20px;
  width: 320;
}

body {

  background-image: url('../img/white-texture.png');
}
